@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;700&display=swap");

$colors: (
  main: #000000,
  secondary: #ffffff,
);

@mixin media-max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

$font-family: "Archivo", sans-serif;

@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#main-body {
  @include display-flex();
  justify-content: right;

  @include media-max-width(75rem) {
    flex-direction: column;
  }

  #main-body_sec--one {
    margin: 9.3rem 9.3rem 9.3rem 5.6rem;
    margin-top: 0px;
    width: 25rem;
    margin-bottom: 0px;

    @include media-max-width(26rem) {
      margin-left: 0;
    }
  }

  #img-logo {
    padding-top: 1.875rem;

    @include media-max-width(75rem) {
      padding-bottom: 1.875rem;
    }
    @include media-max-width(26rem) {
      width: 110px;
      padding-top: 0.9rem;
      padding-left: 0.9rem;
      padding-bottom: 30px;
    }
  }

  #img-tablet {
    display: none;

    @include media-max-width(75rem) {
      display: block;
    }
    @include media-max-width(56rem) {
      width: 37rem;
    }
    @include media-max-width(26rem) {
      width: 407px;
      height: 325px;
      object-fit: cover;
    }
    @include media-max-width(20.5rem) {
      width: 300px;
      height: 325px;
      object-fit: cover;
    }
  }

  #main-body_head-word--one {
    margin-top: 5.6rem;
    margin-bottom: 0.6rem;
    font-family: $font-family;
    font-weight: 1000;
    font-size: 2.5em;

    @include media-max-width(75rem) {
      margin-top: 2.1875rem;
      width: 37rem;
      font-size: 3em;
    }

    @include media-max-width(26rem) {
      margin-top: 15px;
      font-size: 2em;
      width: 250px;
    }
  }

  #tablet {
    @include media-max-width(75rem) {
      width: 31rem;
      padding-left: 4rem;
    }
    @include media-max-width(26rem) {
      padding-left: 25px;
    }
  }

  .main-body_prag-word--one {
    font-family: $font-family;
    font-size: 0.9em;

    @include media-max-width(75rem) {
      width: 31rem;
    }
    @include media-max-width(26rem) {
      width: 300px;
    }
  }

  .prag-flex {
    @include display-flex();
  }

  #img-checkmark {
    @include media-max-width(26rem) {
      width: 17px;
    }
  }

  .main-body_prag-word--two {
    font-family: $font-family;
    margin: 0.5rem;
    margin-left: 10px;

    @include media-max-width(26rem) {
      font-size: 12px;
    }
  }

  .main-body_prag-word--three {
    font-family: $font-family;
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
  }

  #img-hero {
    width: 37.5rem;
    height: 40.3rem;

    @include media-max-width(75rem) {
      display: none;
    }
  }

  #main-body_head-word--two {
    color: map-get($colors, secondary);
    background-color: map-get($colors, main);
    font-family: $font-family;
    padding: 0.9rem 0.3rem 0.3rem 0.3rem;
    width: 11rem;
    height: 2.1rem;
    border-radius: 0.3rem;
    text-align: center;

    @include media-max-width(26rem) {
      margin-top: 10px;
    }
  }
}
